body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	/* background-color: lightgoldenrodyellow; */
}

.inner__container{
	padding:20px 0;
}

h4{
	margin: 25px 0;
	text-align: center;
	/* border: 1px solid; */
}

.col{
	border: 1px solid;
}

.column-space{
	margin: 20px 0;
}
