body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: lightgoldenrodyellow;
}

.inner__container{
	padding:20px 0;
}

h3{
	font-size: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	margin: 25px 0;
	text-align: center;
}

.col{
	border: 1px solid;
}

.row{
	margin: 35px 0;
	/* border: 1px solid; */
}

.column-space{
	margin: 20px 0;
}

span{
	font-weight: 600;
	text-align: center;
}
